* {
  margin: 0px;
  padding: 0px;
}

#webEj {
  text-align: center;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
}

#webEj .title {
  margin-bottom: 20px;
  width: 90%;
  overflow: hidden;
}

#webEj .title h3 {
  min-width: 100px;
  font-size: 35px;
}

#webEj #projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 25px;
}

#webEj #projects .item-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 200px;
  height: 200px;
  margin: 0px 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

#webEj #projects .item-project .img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#webEj #projects .item-project .img img {
  width: 200px;
  height: 200px;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  border: 8px solid black;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#webEj #projects .item-project .img .auximg {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border-left: 2px dashed #7bbf2b;
  border-right: 2px dashed #7bbf2b;
  -webkit-animation: borderRotate 20s infinite linear;
          animation: borderRotate 20s infinite linear;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  z-index: 999;
}

#webEj #projects .item-project:hover .img img {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

#webEj #projects .item-project:hover .img .auximg {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation: borderRotate 400ms infinite linear;
          animation: borderRotate 400ms infinite linear;
  border-left: 2px solid #7bbf2b;
  border-right: 2px solid #7bbf2b;
}

#webEj #projects .auxInfoP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#webEj #projects .auxInfoP .infoP {
  position: fixed;
  width: 80%;
  max-width: 800px;
  height: 65%;
  max-height: 600px;
  top: 100px;
  border-radius: 20px;
  overflow: hidden;
  border: 5px double #7bbf2b;
  background-image: url("../../../assets/css/img/fondo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1001;
}

#webEj #projects .auxInfoP .infoP .titleInfo {
  height: 40px;
}

#webEj #projects .auxInfoP .infoP .titleInfo h3 {
  border-bottom: 5px double black;
  color: black;
  background-color: #7bbf2b;
  font-size: 1.75rem;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#webEj #projects .auxInfoP .infoP .titleInfo svg {
  position: absolute;
  color: black;
  right: 0px;
  margin-top: 4px;
  margin-right: 8px;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#webEj #projects .auxInfoP .infoP .svgHover h3 {
  background-color: black;
  color: #7bbf2b;
  border-bottom: 5px double #7bbf2b;
}

#webEj #projects .auxInfoP .infoP .svgHover svg {
  color: #7bbf2b;
}

#webEj #projects .auxInfoP .infoP .boxInfo {
  height: 88%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  font-size: 16px;
}

#webEj #projects .auxInfoP .infoP .boxInfo p, #webEj #projects .auxInfoP .infoP .boxInfo ul {
  margin-bottom: 15px;
}

#webEj #projects .auxInfoP .infoP .boxInfo p {
  width: 90%;
  margin: 0 auto;
}

#webEj #projects .auxInfoP .infoP .boxInfo ul h4 {
  width: 90%;
  height: 32px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-bottom: 1px dashed #7bbf2b;
  border-top: 1px dashed #7bbf2b;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  text-align: center;
  -webkit-animation: H4effect 700ms infinite linear;
          animation: H4effect 700ms infinite linear;
}

#webEj #projects .auxInfoP .infoP .boxInfo ul li {
  list-style: none;
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

@-webkit-keyframes borderRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes borderRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes H4effect {
  0% {
    border-bottom-color: #7bbf2b;
    border-top-color: #7bbf2b;
    color: #7bbf2b;
  }
  50% {
    border-bottom-color: #b0ff55;
    border-top-color: #b0ff55;
    color: #b0ff55;
  }
  100% {
    border-bottom-color: #7bbf2b;
    border-top-color: #7bbf2b;
    color: #7bbf2b;
  }
}

@keyframes H4effect {
  0% {
    border-bottom-color: #7bbf2b;
    border-top-color: #7bbf2b;
    color: #7bbf2b;
  }
  50% {
    border-bottom-color: #b0ff55;
    border-top-color: #b0ff55;
    color: #b0ff55;
  }
  100% {
    border-bottom-color: #7bbf2b;
    border-top-color: #7bbf2b;
    color: #7bbf2b;
  }
}
/*# sourceMappingURL=webs-ej.component.css.map */