* {
  padding: 0px;
  margin: 0px;
}

#clients {
  text-align: center;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
}

#clients .title {
  margin-bottom: 20px;
  width: 90%;
  overflow: hidden;
}

#clients .title h3 {
  min-width: 100px;
  font-size: 35px;
}

#clients .accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#clients .accordion .accordion-item {
  width: 80%;
  margin-bottom: 20px;
  background-color: transparent !important;
}

#clients .accordion .accordion-item .accordion-header {
  margin-bottom: 10px;
}

#clients .accordion .accordion-item .accordion-header button {
  border: 2px dashed #7bbf2b;
  border-radius: 20px !important;
  font-size: 20px;
  padding: 5px 10px;
  background-color: #7bbf2b;
  color: black;
}

#clients .accordion .accordion-item .accordion-header button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#clients .accordion .accordion-item .accordion-header .collapsed {
  background-color: transparent;
  color: #7bbf2b;
}

#clients .accordion .accordion-item .accordion-header .collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%237bbf2b'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#clients .accordion .accordion-item .accordion-header button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#clients .accordion .accordion-item .accordion-collapse .accordion-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 10px;
  border-radius: 20px;
  border: 2px dashed #7bbf2b;
  background-color: transparent;
  color: #7bbf2b;
}

#clients .accordion .accordion-item .accordion-collapse .accordion-body span {
  width: 100%;
  display: block;
  text-align: left;
  font-size: 20px;
}

#clients .accordion .accordion-item .accordion-collapse .accordion-body span i {
  color: gray;
}

#clients .accordion .accordion-item .accordion-collapse .accordion-body span a {
  text-decoration: none;
  color: #7bbf2b;
}

#clients .accordion .accordion-item .accordion-collapse .accordion-body span a:hover {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: parpadeoSolido2;
          animation-name: parpadeoSolido2;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes parpadeoSolido2 {
  0% {
    color: #7bbf2b;
  }
  50% {
    color: transparent;
  }
  100% {
    color: #7bbf2b;
  }
}

@keyframes parpadeoSolido2 {
  0% {
    color: #7bbf2b;
  }
  50% {
    color: transparent;
  }
  100% {
    color: #7bbf2b;
  }
}
/*# sourceMappingURL=webs-clients.component.css.map */